{{>header}}
<div class="card card-outline-secondary">
    <div class="card-header">
        <h3 class="mb-0">Complete Password Change</h3>
    </div>
    <div class="card-body">
        {{#error}}
        <h5 class="text-danger">{{errTitle}}</h5>
        <p class="text-danger">{{{errMsg}}}</p>{{/error}}
        <h6 class="card-subtitle mb-2 text-muted">Please select a password:</h6>{{{msgBody}}}
        <form action="/registrationCompletion" method="POST" class="form needs-validation" novalidate autocomplete="on">
            <div class="form-group">
                <label for="pw1">Password</label>
                <input type="password" class="form-control" name="p1" id="pw1" required placeholder="Password">
                    <div class="invalid-feedback">Please enter a password.</div>
                    </div>
            <div class="form-group">
                <label for="pw2">Verify Password</label>
                <input type="password" class="form-control" name="p2" id="pw2" placeholder="Password">
                    <span class="form-text small text-muted">To confirm, type the new password again.</span>
                    <div class="invalid-feedback">Passwords Don't Match</div>
                    </div>
            <div class="form-group">
                <input type="hidden" name="passreset" value="{{passreset}}">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <button type="submit" class="btn btn-success btn-lg float-right">Save Password</button>
                        </div>
        </form>
    </div>
</div>
{{>footer}}

<script type="text/javascript">
    window.onload = function() {
        document.getElementById("pw1").onkeyup = validatePassword;
        document.getElementById("pw2").onkeyup = validatePassword;
    }
function validatePassword() {
    var pass2 = document.getElementById("pw2").value;
    var pass1 = document.getElementById("pw1").value;
    if (pass1 != pass2)
    document.getElementById("pw2").setCustomValidity("Passwords Don't Match");
    else
    document.getElementById("pw2").setCustomValidity('');
    //empty string means no validation error
}
</script>
